/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face
{
	font-family: 'Gotu-Regular', arial;
	src:url('fonts/Gotu-Regular.ttf')format('truetype');
	src:local("Gotu-Regular");
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family: 'Gotu-Regular';
	font-size: 15px;
	margin: 0;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.style_title {
	font-size: 20px;
}

/*---------------------------------------------------------------
Définition du trait sous les titres des sections
----------------------------------------------------------------*/
.style {
	border-bottom: 2px solid #FF9800;
	line-height: 2;
	margin-left: 50px;
}

/*-----------------------------------------------------------------
Mise en page des icônes font awesomes
------------------------------------------------------------------*/
.fa-book-reader {
	color: black;
	margin: 50px;
	font-size: 40px;
	-webkit-box-shadow: 0 0 1px 2px black;
	        box-shadow: 0 0 1px 2px black;
	border-radius: 50%;
	padding: 10px;
	margin:50px 30px;
}

.fa-hiking {
	color: black;
	margin: 50px;
	font-size: 40px;
	-webkit-box-shadow: 0 0 1px 2px black;
	        box-shadow: 0 0 1px 2px black;
	border-radius: 50%;
	padding: 10px 20px 20px;
	margin:50px 30px;
}

.fa-graduation-cap {
	color :#FF9800;
	margin: 0px 10px;
}

.fa-pencil-alt {
	color :#FF9800;
	margin: 0px 10px;
}

.fa-briefcase {
	color :#FF9800;
	margin: 0px 10px;
}

.fa-circle {
	color: #FF9800;
	margin-top: 20px;
	min-width: 50px;
}

.fa-dot-circle {	
	color: #FF9800;
	margin-top: 20px;
	min-width: 50px;

}

/*-----------------------------------------------------
Left part : Zone photo, à propos et loisirs
-------------------------------------------------*/
#left_part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 350px;
	height: auto;
	background-color: #FF9800;
}

figure {
	text-align: center;
	padding: 50px;
	margin: 25px 0;
}

figure img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
		-webkit-box-shadow: 0 0 2px 1px black;
	        box-shadow: 0 0 2px 1px black;	
}

/* En tête des sections de la partie gauche (contac, à propos, loisirs)*/

address li{
	font-weight: bold;
	font-style: normal;
	list-style: none;
}

.heading, .heading1, .heading2  {
background-color: black;
color: white;
text-align: center;
font-style: normal;
font-size: 30px;
padding: 10px 0; 
}

address .heading, address .heading1, address .heading2 {
	font-weight: bold;
}

article li {
	list-style: none;
	line-height: 2.6;
}

article ul {
	margin-bottom: 1100px;
	margin-top: 50px;
}



/*----------------------------------------------
Right part : identity, schedule, container_prof
----------------------------------------------*/

/*-------- identity ----------------------*/

header h2 {
	display: block;
	font-size: 40px;
	margin:0;
}

h1 {
	margin: 90px 50px 0;
	padding : 50px 0 0;
	font-size: 50px;
}

.firstname  {
	color: #FF9800;
}

h2 .styleline {
	border-bottom: 1px solid #FF9800;
	margin: 0 0 50px 50px ;
}

/*----- school part -----*/

#box_school, .style {
	margin: 150px 35px 0;
	font-size: 30px;
}

#box_school ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-size: 15px;
	text-align: justify;
}

.school, .school_period {
	width: 100%;
  	height: auto;
  	margin-top: 20px;
}



/*--------Zone parcours prof-------------*/

#box_prof, .style {
	margin: 40px 35px 0;
	font-size: 30px;
}

#box_prof ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-size: 15px;
	text-align: justify;
}

.job_date, .job_details {
	width: 100%;
  	height: auto;
  	margin-top: 20px;
  	line-height: 1.6;
 }


/*-----------------------------------------
Zone recommandation
-----------------------------------------*/

#box_ref, .style {
	margin: 40px 35px 0;
	font-size: 30px;
}

#box_ref ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: auto;
	width: 100%;
	font-size: 15px;
}

.boss {
	width: 100%;
  	height: auto;
  	margin-top: 20px;;
}

ul .boss:nth-child(2){
	padding-left: 30px;
}


/*-----------------------------------------
Partie Responsive
------------------------------------------*/

/* Largeur de la fenêtre */
@media all and (max-width:1024px) {


* {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

figure {
	margin: 25px 80px;
	padding: 20px;
}

figure img {
	height: 120px;
	width: 120px;
}

/* ---- format des sections de titres ---*/

.style {
	margin-left: 0;
}

/*-------- Second Part ---------*/

main {
	margin-top: 50px;
	margin-left: 10px;
	position: absolute;
}

header {
	margin-bottom: 350px;
}

h1 {
	margin: 90px 30px 0;
}

h2 .styleline {
	margin-left: 30px;
}

/*-------- School part ---------*/

#box_school {
	margin: 20px 35px 0;
}

#box_school ul{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	margin-left: 0;
	padding: 0;
}

#box_school p {
	width: auto;
}

.school {
	width: 550px;
	margin-bottom: 100px;
}

.school_period {
	width: 150px;
	margin-bottom: 150px;
}

.job_details  {
	position: absolute;
	padding-top: 50px;
	padding-right: 20px;
	width: auto;
	text-align: justify;

}

/*----------- Prof part ---------*/

#box_prof {
	margin: 300px 35px 0;
}

#box_prof ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	margin-left: 0;
	padding: 0;
	margin-bottom: 200px;
	margin-top: 50px;
	margin-right: 20px;
}

#box_prof p {
	width: auto;
}

#box_prof ul:last-child{
	margin-top: 150px;
	padding-top: 50px;
}

.job_details p {
	text-align: justify;
	padding-right: 40px;
}

/*------ Recommandation part ------ */

#box_ref {
	margin-top: 80px;
	padding-top: 20px;
}

#box_ref ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: 0;
	padding: 0;
}

ul .boss:nth-child(2){
	padding-left: 0;
}

#box_ref p {
	max-width: 50%;
}


/*--------- Left part -----------*/

#left_part {
	/*flex-direction: row;*/
	width: 250px;
	margin: 0;
	height: 0;
	position: absolute;
}

address ul p{
	display: inline;
	line-height: 2;
	font-weight: normal;
}

address ul {
	margin-left: 20px;
}

.heading {	
	margin-top: 120px;
	margin-left: 50px;
	background-color: #FF9800;
	border-radius: 50px;
	font-size: 20px;
}

article {
	width: 500px;
	margin: 0 20px;
	margin-left: 20px;
	padding: 0 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

article ul {
	margin:0;
	padding-left: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #ECEFF1;
	border-radius: 52px 52px 0px 0px;
}

article li{
  display: inline;
  padding: 10px;
  text-align: center;
}

.heading1 {
	margin-top: 750px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #FF9800;
	border-radius: 50px;
}

/* --------- loisir ---------- */

article:last-child {
	margin-top: 1050px;
}

.heading2 {
	margin-top: 1300px;
	margin-left: 50px;	
	background-color: #FF9800;
	border-radius: 50px;
}

.fa-book-reader {
	color: #FF9800;
	font-size: 50px;
	-webkit-box-shadow: 0 0 0 0 white;
	        box-shadow: 0 0 0 0 white;
	border-radius: 0%;
	margin-left: 150px;
}

.fa-hiking {
	color: #FF9800;
	font-size: 50px;
	-webkit-box-shadow: 0 0 0 0 white;
	        box-shadow: 0 0 0 0 white;
	border-radius: 0%;
	margin-right: 0;
}

} 